body {
    /* 弹性布局 */
    /* min-height: 100%;
    display: flex;
    flex-direction: column; */
    /* */

    background-color: #F5F5F5;
}

h2 {
    color: black;
}

hr {
    position: relative;
    margin: 2rem auto;
    width: calc(100% - 4px);
    border: 2px dashed #a4d8fa;
    background: #fff;
}

hr:before {
    position: absolute;
    top: -10px;
    left: 15%;
    /* 优先级 */
    z-index: 1;
    color: #49b1f5;
    content: '\f0c4';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    transition: all 2s ease-in-out;
}

hr {
    box-sizing: content-box;
    overflow: visible;
}

header {
    /* flex: 1; */
    position:relative;
    background: url(https://api.ixiaowai.cn/gqapi/gqapi.php) no-repeat center;
    top: 0;
    left: 0;

    width:100%;
    height:20rem;
    /* min-width属性设置元素的最小宽度。 */
    /* min-width: 1000px; */
    /* 	此时会保持图像的纵横比并将图像缩放成将完全覆盖背景定位区域的最小大小。 webkit:chrome */
    -webkit-background-size: cover;
}

.page-site-info {
    position: absolute;
    top: 10rem;
    width: 100%;
    margin: 0 auto;

    /* TODO */
    color: orange;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
    line-height: 1.5;
    font-weight: 700;
    font-size: 3rem;
    animation: titlescale 1s;
}

.content {
    position: relative;
    margin-top: 1rem;
    display: flex;
    /* flex: 1; */
}

.aside-info {
    flex-direction: column;
    width: 25%;
}

.is-center {
    text-align: center;
}

.card-style {
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 1.2rem;

    overflow: hidden;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);
    box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);

    /* 页面加载时有过度效果 */
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.card-info-avatar img {
    display: inline-block;
    padding: 5px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
.card-info .card-info-avatar .author-info__name {
    font-weight: 700;
    font-size: 1.1rem;
}
.card-info .card-info-avatar .author-info__description {
    margin-top: -.1rem;
}
.card-info .card-info-social-icons {
    margin: .3rem 0 -.3rem;
}
.card-info .card-info-social-icons .social-icon {
    margin: 0 .5rem;
    color: #4c4948;
    font-size: 1.5rem;
}

.aside-info  .item-headline {
    font-size: .8rem;
}
.aside-info  .item-headline span {
    margin-left: .5rem;
    color: black;
}
.aside-info .card-content {
    margin-top: 0.5rem;
}

.aside-info .card-webinfo .card-content .webinfo-site-count {
    position: relative;
}
.aside-info .card-webinfo .card-content .webinfo-site-count span {
    position: absolute;
    right: 50%;
}

.aside-info .card-map .card-content {
    transform: scale(1.0);
    margin: 0 auto;
}


.article-info {
    width: 75%;
}




.skillbar {
    position: relative;
    display: block;
    max-width: 360px;
    margin: 15px 10px;
    background: #eee;
    height: 30px;
    border-radius: 35px;

    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;

    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9rem;
    color: #fff;

    /* 颜色条的圆角 */
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
}
.skillbar .skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    /* 居中 */
    height: 30px;
    line-height: 30px;

    /* span标签的圆角 */
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
}
.skillbar .skill-bar-percent {
    position: absolute;
    right: 5%;
    top: 0;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
}

.paperlist {
    padding-left: 1rem;
    margin-top: 1rem;
}

.paperlist .paper {
    font-weight: 700;
}


.tool {
    margin-top: 1rem;
}

.tool a {
    color: #FF0066;
}

body {
    min-height: 100%;
}

footer {
    height: 50px;
    line-height: 50px;
    background-color: #ebebed;
    width: 100%;
  }

.copyright {
    text-align: center;
}